<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-profile" style="background-color: #182b39; border: 0px;" >
<div class="profile">
    <a href="#/app/profile" menu-close><img class="profile-picture" src="http://ionicframework.com/img/docs/mcfly.jpg" ng-click="openProfile()"/></a>
    <h4 class="stable menu-header-name">Thronester</h4>
</div>
</ion-header-bar>

    <ion-content class="custom">
      <ion-list>
        <ion-item href="#/app/PeopleNearby" class="item-icon-left custom" menu-close>
          <i class="icon ion-android-locate"></i>
          People Nearby
        </ion-item>
        <ion-item href="#/app/history" class="item-icon-left custom" menu-close >
          <i class="icon ion-android-time"></i>
          History
        </ion-item>
        <ion-item href="#/app/request" class="item-icon-left custom" menu-close>
          <i class="icon ion-android-settings"></i>
          Settings
        </ion-item>
        <ion-item href="#/app/home" class="item-icon-left custom" menu-close>
          <i class="icon ion-information-circled light"></i>
          About Us
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
