<ion-view view-title="People Nearby">
 <ion-nav-buttons side="secondary">
  <button class="buttons button-icon ion-android-search light" ng-click="vm.showFilterBar()"></button>
 </ion-nav-buttons>
 <ion-content class="padding">
  <!-- <ion-refresher pulling-text="Update Date" on-refresh="doRefresh()"></ion-refresher> -->
  <ion-list>
   <ion-item ng-repeat="profile in vm.profiles">
    <!-- <p>First Name : {{value.first_name}}</p>
    <p>Last Name : {{value.last_name}}</p> -->
    <img class="profile-thumbnail" ng-src="{{ profile.thumbnailPath }}" />

    <span class="profilename">{{profile.name}}</span>

    <em class="designation">{{profile.designation}}</em>
    <input class="checkbox-round" type="checkbox"/>
   </ion-item>
  </ion-list>

  <!-- <div class="accept-reject-button-box">
    <a class="button button-balanced ion-android-send">Send</a>
  </div> -->

    <!-- {{vm.datashow}} -->
 </ion-content>
</ion-view>
