<ion-view style="" class=" " id="page12" title="Profile">
    <ion-content class="has-header" padding="false"  >





      <form name="profileForm" class="list " id="profile-form">

        <ion-list class=" " >

          <!-- Profile Cover Page -->
          <div class="profile-nav col-md-3">
            <div class="panel">
              <div class="user-heading round">

                <ion-header-bar class="bar-profile" >
            <div class="profile">
                <a href="#/app/profile" menu-close><img class="profile-picture" src="http://ionicframework.com/img/docs/mcfly.jpg" ng-click="openProfile()"/></a>
                <h6 class="name">Thronester</h6>
            </div>
            </ion-header-bar>

                <!-- <a href="#">
                  <img ng-src="http://ionicframework.com/img/docs/mcfly.jpg" >
                </a>
                <p style="color: #ffffff;">{{user_info.displayName}}</p> -->
              </div>
            </div>
          </div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<!-- code only for giving space -->
<div class="row">
	<div class="col col-50">
</div><div class="col col-50"></div>
</div>
<br/>
<br/>

          <p style="color: #ffffff;">{{user_info.displayName}}</p>

          <label class="item item-input ic-selected">
            <a class="icon icon-right ion-android-person" style="margin-right: 10px;"></a>
            <input style="color: #000;" ng-model="user_extras.name" type="text" placeholder="Name" >
          </label>

          <label class="item item-input ic-selected">
            <a class="icon icon-right ion-android-call" style="margin-right: 10px;"></a>
            <input style="color: #000;" ng-model="user_extras.telephone" type="text" placeholder="Telephone" >
          </label>

          <label class="item item-input ic-selected">
            <a class="icon icon-right ion-email" style="margin-right: 10px;"></a>
            <input style="color: #000;" ng-model="data_editable.email" type="email"  placeholder="Email">
          </label>

          <!-- <label class="item item-input ic-selected">
            <a class="icon icon-right ion-locked" style="margin-right: 10px;"></a>
            <input style="color: #000;" ng-model="data_editable.password" type="password" placeholder="Update Password">
          </label> -->
          <label class="item item-input ic-selected">
            <a class="icon icon-right ion-ios-location" style="margin-right: 10px;"></a>
            <input style="color: #000;" ng-model="data_editable.email" type="text"  placeholder="Address Line 1">
          </label>

          <label class="item item-input ic-selected">
            <a class="icon icon-right ion-ios-location" style="margin-right: 10px;"></a>
            <input style="color: #000;" ng-model="data_editable.email" type="text"  placeholder="Address Line 2">
          </label>


          <!--Address Header-->
          <!-- <label ng-click="addManipulation()" class="item item-input  item ic-selected" class="has-header">
            <a class="icon icon-right ion-ios-location" style="margin-right: 10px;" ></a>
            Address Line 1 -->
            <!-- <i  class="icon icon-right ion-android-add-circle" style="font-size: larger ;margin-left: 10px;"></i> -->
          <!-- </label>

          <label ng-click="addManipulation()" class="item item-input  item ic-selected" class="has-header">
            <a class="icon icon-right ion-ios-location" style="margin-right: 10px;" ></a>
            Address Line 2 -->
            <!-- <i  class="icon icon-right ion-android-add-circle" style="font-size: larger ;margin-left: 10px;"></i> -->
          <!-- </label> -->



        <div ng-repeat="item in addresses"   >
          <div class="list card" >
            <div style="min-height: 30px;" class="item item-divider">
                <a class="icon icon-right ion-ios-location"></a>
                {{item.nickname}}
                <div style="float: right;">
                  <a ng-click="addManipulation(item)" class="icon icon-right ion-edit" style="font-size: 20px;"></a>
                  <a ng-click="deleteAddress(item.$id)" class="icon icon-right ion-android-delete" style="font-size: 20px;"></a>
                </div>
            </div>
            <div class="item item-body" >

              <span> {{item.address}} </span>
              <span>Pin: {{item.pin}}</span>
              <span>Tel: {{item.phone}}</span>

            </div>
          </div>
        </div>




        </ion-list>

      </form>

    </ion-content>







  <!-- <ion-footer-bar  class="bar button-bar-footer" style="height: auto;">   -->
    <div id="footer" class="button-bar"  >
      <a style="min-width: 50%;border-radius: 0px;" ng-click="cancel()" class="button button-positive ">Personal Detail</a>
      <a style="min-width: 50%;border-radius: 0px;" ng-click="save(user_extras,data_editable)"  class="button button-light">Business Detail</a>
    </div>
  <!-- </ion-footer-bar>  -->

</ion-view>
