<ion-view view-title="History" controller="historyCtrl">
  <ion-nav-buttons side="secondary">
  <button class="buttons button-icon ion-android-search light" ng-click="vm.search()"></button></ion-nav-buttons>
  <ion-content class="historySpacing" has-header>
    <div class="button-bar historyButtons">
   <a class="button button-positive sent-receive-btn" >Received</a>
   <a class="button button-stable sent-receive-btn sent-btn">Sent</a>
</div>
  <ion-list>
    <ion-item ng-repeat="profile in vm.profiles" ng-class='{in:$index == 0}' class="item-checkbox-right-circle">

     <img class="profile-thumbnail" ng-src="{{profile.thumbnailPath}}"  />
      <span class="history-profilename">{{profile.name}}</span>
      <em class="history-designation">{{profile.designation}}</em>

      

   </ion-item>
  </ion-list>
</div>
<!-- <div ng-if="!vm.flag is 0">
  <ion-list>
  <ion-item ng-repeat="person in vm.persons">
    {{person.thumbnailPath}}
    {{person.name}}
    {{person.designation}}
  </ion-item>
</ion-list>

</div> -->

 </ion-content>
</ion-view>
