<ion-view view-title="Request" controller="requestCtrl">
  <ion-nav-buttons side="secondary">
  <button class="buttons button-icon ion-android-search light" ng-click="vm.search()"></button></ion-nav-buttons>

 <ion-content>
    <div class="request-top-text">
      Hello, you have a new request for your e-card from:-
      </div>

   <div class="profile-request">
  <img class="profile-picture" src="http://ionicframework.com/img/docs/mcfly.jpg" />
  <h4 class="positive">{{vm.profiles[0].name}}</h4>
  <p>{{vm.profiles[0].designation}}</p>
</div>

<div class="accept-reject-button-box">
  <a class="button button-balanced accept-reject-btn">Accept</a>
  <a class="button button-assertive accept-reject-btn">Reject</a>

</div>



 </ion-content>
</ion-view>
